@import url("https://fonts.googleapis.com/css2?family=EB+Garamond:wght@500&family=Noto+Serif&display=swap");

.main-title {
  font-family: "EB Garamond", serif;
  font-size: 30px;
  padding-top: 20px;
}
.profile{
  padding-bottom: 50px;
}
.information{
    box-shadow: 1px 2px 50px 0px rgba(3, 10, 5, 0.281);
  padding: 50px 10px;
}

.profile form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: 1px 2px 50px 0px rgba(3, 10, 5, 0.281);
  padding: 50px 10px;
}

.profile form input,
textarea {
  width: 80%;
  margin-bottom: 8px;
  border:0.5px solid #050611;
  
}
.btn-design-add{
  background: linear-gradient(to top, #800080, #ffc0cb);
}